@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
  --offwhite: rgb(248, 248, 248);
  --blue: rgb(32, 179, 236);
}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Reset list styles */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

/*parent grid*/
.main-container {
  display: grid;
  grid-template-columns: 250px minmax(500px, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 100vh;

  font-family: Roboto, sans-serif;
}


/* header */

header {
  grid-area: 1/2/1/3;
}

header img {
  width: 1.5em;
  height: 1.5em;
}


/* sidebar */

aside {
  grid-area: 1/1/3/1;

  display: grid;
  gap: 2em;

  background-color: var(--blue);
  color: var(--offwhite);

  padding: 1em
}

aside > ul img {
  width: 1.5em;
  height: 1.5em;
}

aside .top-container img {
  width: 3em;
  height: 3em;
}

aside .sidebar-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}


/* main */

main {
  grid-area: 2/2/3/3;
}