@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
  --offwhite: rgb(248, 248, 248);
  --blue: rgb(32, 179, 236);
}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Reset list styles */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

/*parent grid*/
.main-container {
  display: grid;
  grid-template-columns: 250px minmax(500px, 1fr);
  grid-template-rows: 1fr 5fr;
  width: 100vw;
  height: 100vh;

  font-family: Roboto, sans-serif;
}


/* header */

header {
  grid-area: 1/2/1/3;

  padding: 1em 2em;

  display: grid;
  gap: 1em;

  box-shadow: 0px 4px 5px lightgray;
}

header img {
  width: 1.5rem;
  height: 1.5rem;
}

header #user-icon {
  background-image: url(images/user-icon.png);
  background-size: cover;
  border-radius: 50%;
}

header .upper-header,
header .lower-header,
.upper-header .search-container,
.upper-header .profile-section,
.lower-header nav {
  display: flex;
}

header .upper-header,
header .lower-header {
  justify-content: space-between;
}

header .upper-header {
  gap: 4em
}

.upper-header .search-container {
  gap: 1em;
  align-items: center;
  width: 75%;
}

.search-container form, .search-container input {
  width: 100%;
}

.search-container input {
  border-radius: 25px;
  border: 0px;
  background-color: rgb(235, 235, 235);
}

.lower-header .greeting {
  display: grid;
  grid-template-columns: 4rem minmax(350px, 4fr);
  grid-template-rows: 2rem 2rem;
  
  column-gap: 1em;
}

.lower-header nav {
  align-items: center;

  gap: 1rem;
}

.lower-header nav button {
  background-color: var(--blue);
  
  border-style: none;
  border-radius: 25px;

  height: 60%;
  width: 7rem;

  padding: 8px 1rem;
  color: white;
  font-weight: 700;
}

.greeting p {
  font-weight: 700;
  align-self: end;
}

.greeting h2 {
  align-self: end;
}

.lower-header #user-icon {
  width: 100%;
  height: 100%;

  grid-area: 1/1/3/1;
}

/* sidebar */

aside {
  grid-area: 1/1/3/1;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  background-color: var(--blue);
  color: var(--offwhite);

  padding: 1rem
}

aside > ul img {
  width: 1.5rem;
  height: 1.5rem;
}

aside .top-container img {
  width: 3rem;
  height: 3rem;
}

aside .sidebar-item {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}


/* main */

main {
  grid-area: 2/2/3/3;
}